html { 
  background: url(c.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}h1 {
	text-align: center;
	font-family: 'Kirang Haerang', cursive;
}


 
